<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="shortcut icon" href="/images/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/About.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <main>
        <nav>
            <i class="ri-menu-3-fill menu"></i>
            <ul class="sidemenus">
                <i class="ri-close-large-fill close"></i>
                <li><a href="/users/profile">Profile</a></li>
                <li><a href="/donar/request-list">Donate</a></li>
                <li><a href="/reciver/blood">Blood</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="">Contact</a></li>
                <a href="/users/logout">Logout</a>
            </ul>
            <ul class="menus">
              <li><a href="/users/profile">Profile</a></li>
              <li><a href="/donar/request-list">Donate</a></li>
              <li><a href="/reciver/blood">Blood</a></li>
              <li><a href="/">Home</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </nav>
          <section class="allSection">
            <section>
                <div class="left">
                    <h1>Name: Suvam Chakraborti [Backend Developer]</h1>
                    <h3>Department: BCA</h3>
                    <h5>College : ABS Accademy Science, Technology & Management</h5>
                    <p> Full Stack Web Developer and a BCA student skilled in React.js , Express.js, MongoDB, Mongoose, EJS, Leaflet, Leaflet Map Routing Machine, Socket.io, HTML, CSS, JavaScript, Tailwind, SCSS, GSAP, Motion (Framer Motion) with a focus on Mordern Web-Sites, also have basic knowledge on cybersecurity concepts ( such as bcrypt encryption & decryption of the data ) and is currently exploring LinkedIn.</p>
                    <div class="link">
                        <a href="https://github.com/Sc-Designs"  target="_blank">
                            <i class="ri-github-fill"></i>
                        </a>
                        <a href="https://www.facebook.com/soham.banarjee.35"  target="_blank">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/asyncsuvamchakraborti/"  target="_blank">
                            <i class="ri-instagram-fill"></i>
                        </a>
                        <a href="https://x.com/SUVAM_001"  target="_blank">
                            <i class="ri-twitter-x-fill"></i>
                        </a>
                        <a href="https://www.linkedin.com/in/suvam-chakraborti/"  target="_blank">
                            <i class="ri-linkedin-box-fill"></i>
                        </a>
                    </div>
                </div>
                <div class="right">
                    <div class="img">
                        <img src="/images/SAVE_20240508_202041.jpg" alt="Profile Pic">
                    </div>
                </div>
            </section>
            <section>
                <div class="left">
                    <h1>Name: Subhasish Addya [DataBase Manager]</h1>
                    <h3>Department: BCA</h3>
                    <h5>College: ABS Accademy Science, Technology & Management</h5>
                    <p> Python Programmer and a BCA student skilled in Python, Django, Flask, HTML, CSS, JavaScript, NumPy, Ren'Py, Tkinter, Kivy, TURTLE( Module) and also have some basic knowledge on Cyber Security and a bit of Machine Learning algorythms.</p>
                    <div class="link">
                        <a href="https://github.com/Riju04Th"  target="_blank">
                            <i class="ri-github-fill"></i>
                        </a>
                        <a href="https://www.facebook.com/riju.addya"  target="_blank">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/riju04th/"  target="_blank">
                            <i class="ri-instagram-fill"></i>
                        </a>
                    </div>
                </div>
                <div class="right">
                    <div class="img">
                        <img src="/images/Screenshot 2025-03-25 195831.png" alt="Profile Pic">
                    </div>
                </div>
            </section>
            <section>
                <div class="left">
                    <h1>Name: Suryadip Mondal [Frontend Developer]</h1>
                    <h3>Department: BCA</h3>
                    <h5>College: ABS Accademy Science, Technology & Management</h5>
                    <p>A Web-Designer and a BCA student with knowledge on HTML, CSS and some basic knowledge on C, Java, Python, TURTLE( Module) Programming Language </p>
                    <div class="link">
                        <a href=""   target="_blank">
                            <i class="ri-github-fill"></i>
                        </a>
                        <a href=""  target="_blank">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a href=""  target="_blank">
                            <i class="ri-instagram-fill"></i>
                        </a>
                        <a href=""  target="_blank">
                            <i class="ri-twitter-x-fill"></i>
                        </a>
                    </div>
                </div>
                <div class="right">
                    <div class="img">
                        <img src="/images/Screenshot 2025-03-25 221043.png" alt="Profile Pic">
                    </div>
                </div>
            </section>
            <section>
                <div class="left">
                    <h1>Name: Shampa Dey [Frontend Developer]</h1>
                    <h3>Department: BCA</h3>
                    <h5>College: ABS Accademy Science, Technology & Management</h5>
                    <p>Frontend Designer and a BCA stuent with knowledge HTML, CSS, C, Java, Python with a goal in mind for better opportunities.</p>
                    <div class="link"> 
                        <a href=""  target="_blank">
                            <i class="ri-github-fill"></i>
                        </a>
                        <a href=""  target="_blank">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a href=""  target="_blank">
                            <i class="ri-instagram-fill"></i>
                        </a>
                        <a href=""  target="_blank">
                            <i class="ri-twitter-x-fill"></i>
                        </a>
                    </div>
                </div>
                <div class="right">
                    <div class="img">
                        <img src="/images/Screenshot 2025-03-25 235706.png" alt="Profile Pic">
                    </div>
                </div>
            </section>
            <section>
                <div class="left">
                    <h1>Name: Nisha Debnath [Designer]</h1>
                    <h3>Department: BCA</h3>
                    <h5>College: ABS Accademy Science, Technology & Management</h5>
                    <p>BCA student, a Graphic Designer, knowledgable in HTML, CSS. </p>
                    <div class="link">
                        <a href=""  target="_blank">
                            <i class="ri-github-fill"></i>
                        </a>
                        <a href=""  target="_blank">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a href=""  target="_blank">
                            <i class="ri-instagram-fill"></i>
                        </a>
                        <a href=""  target="_blank">
                            <i class="ri-twitter-x-fill"></i>
                        </a>
                    </div>
                </div>
                <div class="right">
                    <div class="img">
                        <img src="/images/WhatsApp Image 2025-03-25 at 00.05.24_11249b89.jpg" alt="Profile Pic">
                    </div>
                </div>
            </section>
            <section>
                <div class="left">
                    <h1>Name: Risita Halder [Designer]</h1>
                    <h3>Department: BCA</h3>
                    <h5>College: ABS Accademy Science, Technology & Management</h5>
                    <p>BCA student, a Graphic Designer, knowledgable in HTML, CSS, FIGMA, CANVA.</p>
                    <div class="link">
                        <a href=""  target="_blank">
                            <i class="ri-github-fill"></i>
                        </a>
                        <a href=""  target="_blank">
                            <i class="ri-facebook-circle-fill"></i>
                        </a>
                        <a href=""  target="_blank">
                            <i class="ri-instagram-fill"></i>
                        </a>
                        <a href=""  target="_blank">
                            <i class="ri-twitter-x-fill"></i>
                        </a>
                    </div>
                </div>
                <div class="right">
                    <div class="img">
                        <img src="/images/WhatsApp Image 2025-03-25 at 00.05.34_d291e0de.jpg" alt="Profile Pic">
                    </div>
                </div>
            </section>
        </section>
    </main>
</body>
<script src="/javascripts/About.js"></script>
</html>
