<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="shortcut icon" href="/images/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/User.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <main>
        <nav>
        <i class="ri-menu-3-fill menu"></i>
        <ul class="sidemenus">
            <i class="ri-close-large-fill close"></i>
            <li><a href="/admin/admin-profile">Profile</a></li>
            <li><a href="/donar/request-list">Donate</a></li>
            <li><a href="/reciver/blood">Blood</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="">Contact</a></li>
            <a href="/admin/logout">Logout</a>
        </ul>
        <ul class="menus">
          <li><a href="/admin/admin-profile">Profile</a></li>
          <li><a href="/donar/request-list">Donate</a></li>
          <li><a href="/reciver/blood">Blood</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="">Contact</a></li>
          <a href="/admin/logout">Logout</a>
        </ul>
      </nav>
      <div class="megaContainer">

          <fieldset>
              <legend>Search <img src="/images/human-resources.gif" alt=""></legend>
              <input type="text" name="" id="input" placeholder="Email.... || Name...">
            </fieldset>    
            <div class="container">
                
            </div>
        </div>
    </main>
</body>
<script src="/javascripts/allUser.js"></script>
</html>