<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donars</title>
    <link rel="shortcut icon" href="/images/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/donar.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <main>
        <div class="gola1 golas"></div>
        <div class="gola2 golas"></div>
        <nav>
        <i class="ri-menu-3-fill menu"></i>
        <ul class="sidemenus">
            <i class="ri-close-large-fill close"></i>
            <li><a href="/">Home</a></li>
            <li><a href="">Chat</a></li>
            <li><a href="">About</a></li>
            <li><a href="">FeedBack</a></li>
            <li><a href="">Contact</a></li>
            <a href="/users/logout">Logout</a>
        </ul>
        <ul class="menus">
          <li><a href="/">Home</a></li>
          <li><a href="">Chat</a></li>
          <li><a href="">About</a></li>
          <li><a href="">FeedBack</a></li>
          <li><a href="">Contact</a></li>
        </ul>
    </nav>
    <section id="donar-section">
        <div class="card">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1741531472824-b3fc55e2ff9c?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Donar Image">
            </div>
            <div class="requester">
                <h2>Requester Name :</h2> 
                <h1>Suvam Chakraborti</h1>
                <p>Requested Blood : <span>AB+</span></p>
            </div>
            <button class="donate-button">Donate Now</button>
        </div>
        <div class="card">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1741531472824-b3fc55e2ff9c?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Donar Image">
            </div>
            <div class="requester">
                <h2>Requester Name :</h2> 
                <h1>Suvam Chakraborti</h1>
                <p>Requested Blood : <span>AB+</span></p>
            </div>
            <button class="donate-button">Donate Now</button>
        </div>
        <div class="card">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1741531472824-b3fc55e2ff9c?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Donar Image">
            </div>
            <div class="requester">
                <h2>Requester Name :</h2> 
                <h1>Suvam Chakraborti</h1>
                <p>Requested Blood : <span>AB+</span></p>
            </div>
            <button class="donate-button">Donate Now</button>
        </div>
        <div class="card">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1741531472824-b3fc55e2ff9c?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Donar Image">
            </div>
            <div class="requester">
                <h2>Requester Name :</h2> 
                <h1>Suvam Chakraborti</h1>
                <p>Requested Blood : <span>AB+</span></p>
            </div>
            <button class="donate-button">Donate Now</button>
        </div>
        <div class="card">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1741531472824-b3fc55e2ff9c?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Donar Image">
            </div>
            <div class="requester">
                <h2>Requester Name :</h2> 
                <h1>Suvam Chakraborti</h1>
                <p>Requested Blood : <span>AB+</span></p>
            </div>
            <button class="donate-button">Donate Now</button>
        </div>
        <div class="card">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1741531472824-b3fc55e2ff9c?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Donar Image">
            </div>
            <div class="requester">
                <h2>Requester Name :</h2> 
                <h1>Suvam Chakraborti</h1>
                <p>Requested Blood : <span>AB+</span></p>
            </div>
            <button class="donate-button">Donate Now</button>
        </div>
        <div class="card">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1741531472824-b3fc55e2ff9c?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Donar Image">
            </div>
            <div class="requester">
                <h2>Requester Name :</h2> 
                <h1>Suvam Chakraborti</h1>
                <p>Requested Blood : <span>AB+</span></p>
            </div>
            <button class="donate-button">Donate Now</button>
        </div>
        <div class="card">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1741531472824-b3fc55e2ff9c?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Donar Image">
            </div>
            <div class="requester">
                <h2>Requester Name :</h2> 
                <h1>Suvam Chakraborti</h1>
                <p>Requested Blood : <span>AB+</span></p>
            </div>
            <button class="donate-button">Donate Now</button>
        </div>
    </section>
    </main>
</body>
    <script src="/javascripts/donar.js"></script>
</html>