<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donars</title>
    <link rel="shortcut icon" href="/images/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/donar.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <main>
        <nav>
        <i class="ri-menu-3-fill menu"></i>
        <ul class="sidemenus">
            <i class="ri-close-large-fill close"></i>
            <li><a href="/users/profile">Profile</a></li>
            <li><a href="/">Home</a></li>
            <li><a href="/reciver/blood">Blood</a></li>
            <li><a href="">FeedBack</a></li>
            <li><a href="">Contact</a></li>
            <a href="/users/logout">Logout</a>
        </ul>
        <ul class="menus">
            <li><a href="/users/profile">Profile</a></li>
          <li><a href="/">Home</a></li>
          <li><a href="/reciver/blood">Blood</a></li>
          <li><a href="">FeedBack</a></li>
          <li><a href="">Contact</a></li>
        </ul>
    </nav>
    <section id="donar-section">
        <% if(posts.length > 0) { %>
        <% posts.forEach((elem)=>{ %>
        <div class="card">
            <div class="img">
                <% if( elem.userId.profilepic ){ %>
                    <img src="data:image/jpeg;base64,<%= elem.userId.profilepic %>" alt="Profile Picture">
                <% } else { %>
                    <img src="https://images.unsplash.com/photo-1738044380727-086b16113ab5?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">                
                <% }%>
            </div>
            <div class="requester">
                <h2>Requester Name :</h2> 
                <h1><%= elem.userId.name %></h1>
                <p>Requested Blood : <span><%= elem.bloodType %></span></p>
            </div>
            <button class="donate-button">Donate Now</button>
        </div>
        <% }) %>
        <% } else { %>
        <h2>No donar requests available.</h2>
        <% } %>
    </section>
    </main>
</body>
    <script src="/javascripts/donar.js"></script>
</html>