<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReEnterPassword</title>
    <link rel="shortcut icon" href="/images/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/reEnterpass.css">
        <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <main>
        <form action="/users/rePassword/<%= id %>" method="post">
            <h1>Re-enter Password</h1>
            <fieldset>
                <legend>Password</legend>
                <input type="password" name="" id="password">
                <i class="ri-eye-close-line eye1"  ></i>
            </fieldset>
            <fieldset>
                <legend>Confirm Password</legend>
                <input type="password" name="updatedpassword" id="confrimPassword">
                <i class="ri-eye-close-line eye2"></i>
            </fieldset>
            <p></p>
            <button type="submit" id="btn">Confirm</button>
        </form>
    </main>
</body>
<script src="/javascripts/enterPass.js"></script>
</html>