<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How To Use</title>
    <link rel="shortcut icon" href="/images/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/HowToUse.css">
            <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <main>
        <nav>
        <i class="ri-menu-3-fill menu"></i>
        <ul class="sidemenus">
            <i class="ri-close-large-fill close"></i>
            <li><a href="/">Home</a></li>
            <li><a href="/donar/request-list">Donate</a></li>
            <li><a href="/reciver/blood">Blood</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="">Contact</a></li>
            <a href="/admin/logout">Logout</a>
        </ul>
        <ul class="menus">
          <li><a href="/">Home</a></li>
          <li><a href="/donar/request-list">Donate</a></li>
          <li><a href="/reciver/blood">Blood</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="">Contact</a></li>
          <a href="/admin/logout">Logout</a>
        </ul>
        </nav>
        <h1>🤔How You Use Our Web-Site🤔</h1>
        <ul>
            <li><strong> Step  - 1 </strong> First You Open your profile with certain details or Google.</li>
            <li> <strong>Step - 2 </strong> Send Otp to Your Gmail Account that you selected .</li>
            <li><strong>Step - 3 </strong> Enter Otp and continue.</li>
            <li><strong>Step - 4 </strong> We send you the wellCome Email ❤️.</li>
            <li><Strong>Optional - </Strong> If you Sign in With Google, we will provide the first password of yours Account. If you want keep it or change it later.</li>
            <li><strong>Step - 5 </strong> Welcome to Your Profile</li>
            <li><strong>Step - 6 </strong> After Opening your Profile, you will be ask for your Blood Group.</li>
            <li><strong>Step - 7 </strong> If you Want blood you make a request in our web-site.</li>
            <li><strong>Step - 8 </strong> For request you should go your profile and click Add Request</li>
            <li><strong>Step - 9 </strong> After that a from will be open there you can select your needed blood group and you can also put your phone number for better communucation with Donar.</li>
            <li><strong>Step - 10 </strong> Click the Send Request and it will be added into the blood section with status.</li>
            <li><strong>Step - 11 </strong> After Donar accept your request you will be notified into your email with Donar details.</li>
            <li><strong>Step - 12 </strong> The map option will be available to use now in your request tab with request information.</li>
            <li><strong>Step - 13 </strong> After Donar accept your request in mapping, you can see the Donar's location on the map.</li>
            <li><strong>Step - 14 </strong> You can also fill up the Donation from to help the persons in need.</li>
            <li><strong>Step - 15 </strong> After filling up Donation form you will get a confirmation message.</li>
            <li><strong>Step - 16 </strong> After the confirmation message, you will be notified into your email about Donations.</li>
            <li><strong>Step - 17 </strong> You can now see the blood-requests in Donate Tab.</li>
            <li><strong>Step - 18 </strong> Requester's Name and requested Blood-Group will be shown.</li>
            <li><strong>Step - 19 </strong> You can click the "Donate Now" button to Donate Blood.</li>
            <li><strong>Step - 20 </strong> After clicking "Donate Now" button, you will need to fill up a form and can write your mobile number for better communication.</li>
            <li><strong>Step - 21 </strong> In your donate request tab, the pending request will be shown and also the map option will be available to use now.</li>
        </ul>
    </main>
</body>
<script src="/javascripts/HowToUse.js"></script>
</html>