<!DOCTYPE html>
<html>
  <head>
    <title>Blood_Hub</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/images/favicon.webp" type="image/x-icon">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
  </head>
  <body>
    <main>
      <nav>
        <i class="ri-menu-3-fill menu"></i>
        <ul class="menus">
          <li><a href="">Home</a></li>
          <li><a href="">Chat</a></li>
          <li><a href="">About</a></li>
          <li><a href="">FeedBack</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </nav>
      <div id="landing-page">
        <div id="left_part">
          <h1>We Build a Happy India Togather.</h1>
          <button><a href="#">Join Us With</a></button>
        </div>
        <div id="right_part">
          <img src="/images/blood-donation.webp" alt="">
        </div>
      </div>
      <div id="view_1">
        <div id="top">
          <h1>Welcome to LifeSaver – Connecting Blood Donors & Receivers</h1>
          <p>Every drop counts! LifeSaver is a platform that bridges the gap between those in need of blood and willing donors. Whether you're looking to donate or find a donor, our easy-to-use system helps you connect instantly.</p>
        </div>
        <div id="bottom">
          <div id="up">
            <h6>❤️ Become a Lifesaver – </h6>
            <p>Sign up as a donor and help save lives in just a few clicks.</p>
          </div>
          <div id="down">
            <h6>🚩 Location-Based Matching – </h6>
            <p>Connect with donors and recipients effortlessly with Map.</p>
          </div>
          </div>
        </div>
        <div id="view_2">
          <h4>"The blood you donate today may be the gift of life for someone tomorrow."</h4>
        </div>
        <div id="view_3">
          <div id="left">
            <h3>📌 Our Mission</h3>
            <p>To create a safe, sustainable, and transparent community that empowers people to contribute to the fight against low Blood supply in high demand.</p>
          </div>
          <div id="right">
            <h3>📈 Our Vision</h3>
            <p>To create a global community that uses technology to empower people to contribute Blood for save the life and called as a LifeSaver.</p>
          </div>
        </div>
        <div id="view_4">
          <h1>So Why you watting,<br> Hurry and Join Us Today!</h1>
          <button><a href="#">Sign Up As a LifeSaver</a></button>
        </div>
        <div id="view_5">
          <h3>Freequent Pages</h3>
          <div id="all_btn">
          <div id="top">
            <button><a href="">How_To_Use</a></button>
            <abbr title="Login First"><button><a href="">Donars</a></button></abbr>
          </div>
          <div id="bottom">  
            <abbr title="Login First"><button><a href="">Receivers</a></button></abbr>
            <button><a href="">Providers</a></button>
          </div>
          </div>
        </div>
        <footer>
          <div id="top">
          <section>
            <h2>Service</h2>
            <ul>
              <li><a href="">Donation</a></li>
              <li><a href="">receiver</a></li>
              <li><a href="">Blogs</a></li>
            </ul>
          </section>
          <section>
            <h2>Helps</h2>
            <ul>
              <li><a href="">About</a></li>
              <li><a href="">Contact</a></li>
              <li><a href="">Gmail</a></li>
            </ul>
          </section>
          <section>
            <h2>Legal</h2>
            <ul>
              <li><a href="">Terms of use</a></li>
              <li><a href="">privacy policy</a></li>
              <li><a href="">Cookie policy</a></li>
            </ul>
          </section>
          </div>
          <div id="bottom">
          <section>
            <p>© copyright reserve by Blood_hub</p>
          </section>
          </div>
        </footer>
    </main>
  </body>
</html>