<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="/images/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/login.css">
        <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <main>
        <section>
            <div class="img">
                <img src="/images/favicon.webp" alt="">
            </div>
            <h1>Blood_Hub</h1>
            <form action="/users/login" method="post">
                <fieldset>
                    <legend>📧Email - </legend>
                    <input type="email" name="email" id="email" placeholder="Enter your email...." autocomplete="on">
                </fieldset>
                <fieldset>
                    <legend>😌Password -</legend>
                    <input type="password" name="password" id="password" placeholder="Enter your password...." autocomplete="on">
                    <i class="ri-eye-close-line eye1"></i>
                </fieldset>
                <input type="submit" value="Login">
            </form>
            <div class="signup">
                <p>Don't have an account?</p>
                <a href="/users/changePassword">Forgot Password</a>
                <a href="/users/register">Sign Up</a>
            </div>
            <p>Or</p>
            <a href="/google-oth/auth/google">
                <img id="left" src="/images/google.webp" alt="">
                <p>
                    Login With Google
                </p>
                <img id="right" src="/images/google.webp" alt="">
            </a>
        </section>
    </main>
</body>
<script src="/javascripts/login.js"></script>
</html>