<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="/images/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
    <main>
        <section>
            <div class="img">
                <img src="/images/favicon.webp" alt="">
            </div>
            <h1>Blood_Hub</h1>
            <form action="/users/login" method="post">
                <label for="email">📧Email - </label>
                <input type="email" name="email" id="email" placeholder="Enter your email...." autocomplete="off">
                <label for="email">😌Password - </label>
                <input type="password" name="password" id="password" placeholder="Enter your password...." autocomplete="off">
                <input type="submit" value="Login">
            </form>
            <div class="signup">
                <p>Don't have an account?</p>
                <a href="/users/register">Sign Up</a>
            </div>
            <p>Or</p>
            <a href="/google-oth/auth/google">
                <img id="left" src="/images/google.webp" alt="">
                <p>
                    Login With Google
                </p>
                <img id="right" src="/images/google.webp" alt="">
            </a>
        </section>
    </main>
</body>
</html>