<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registation</title>
    <link rel="shortcut icon" href="/images/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <main>
        <section>
            <img src="/images/favicon.webp" alt="Logo">
            <h1>Register</h1>
            <form action="">
                <fieldset>
                    <legend>🫡 Name: *</legend>
                    <input type="text" name="name" placeholder="Name" id="name" required>
                </fieldset>
                <p id="alertname"></p>
                <fieldset>
                    <legend>📧 Email: *</legend>
                    <input type="email" name="email" placeholder="Email" id="email" required>
                </fieldset>
                <p id="alertemail"></p>
                
                <fieldset>
                    <legend>🦴 Age:</legend>
                    <input type="number" name="age" placeholder="Age" id="age">
                </fieldset>
                <p id="alertage"></p>
                
                <fieldset>
                    <legend>🩸Blood Group:</legend>
                    <select name="blood-group" id="blood-group">
                        <option value="">Select Blood Group</option>
                        <option value="A+">A+</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="O+">O+</option>
                        <option value="O-">O-</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB-</option>
                    </select>
                </fieldset>

                <fieldset>
                    <legend>🦺 Emargency Contact:</legend>
                    <input type="number" name="emargencycontact" placeholder="Emargency Contact" id="emargencycontact"/>
                </fieldset>
                    
                <fieldset>
                    <legend>📅 Date of Birth:</legend>
                    <input type="date" name="dob" id="dob" required>
                </fieldset>

                <fieldset>
                    <legend>😌 Password: *</legend>
                    <input type="password" name="" placeholder="Password" id="pass" required>
                    <i class="ri-eye-close-line eye1"></i>
                </fieldset>
                <fieldset>
                <legend>😌 Confirm Password: *</legend>
                <input type="password" name="password" placeholder="Confirm Password" id="conpass" required>
                <i class="ri-eye-close-line eye2"></i>
            </fieldset>                
                <p id="alertpss"></p>
                
                <button type="submit">Register</button>
                <div class="lowar_part">
                    <p>Already have an account?</p>
                    <a href="/users/login">Login</a>
                </div>
                <h3>Or</h3>
                <div class="social">
                    <img src="/images/google.webp" alt="">
                    <img src="/images/google.webp" alt="">
                    <a href="/google-oth/auth/google">SignUp with Google</a>
                </div>
            </form>
        </section>
    </main>
</body>
<script src="/javascripts/register.js"></script>
</html>