<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Section</title>
    <link rel="shortcut icon" href="/images/favicon.webp" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/request-page.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>
<body>
    <main>
        <div class="gola1"></div>
        <div class="gola2"></div>
        <nav>
        <i class="ri-menu-3-fill menu"></i>
        <ul class="menus">
          <li><a href="/">Home</a></li>
          <li><a href="">Chat</a></li>
          <li><a href="">About</a></li>
          <li><a href="">FeedBack</a></li>
          <li><a href="">Contact</a></li>
        </ul>
    </nav>
    <section class="request-section">
        <div class="card">
            <div class="top">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1738044380727-086b16113ab5?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="info">
                <h1>Name: Suvam Chakraborti</h1>
                <h2>id: djdsjfsdkfns</h2>
            </div>
        </div>
        <div class="requerment">
            <h1>Requerment:</h1>
            <p>AB+</p>
        </div>
        <div class="btn">
            <a href="">Accept</a>
            <a href="">Reject</a>
        </div>
        <div class="date">
            <h1>Date: 13/03/2025</h1>
        </div>
        </div>
        <div class="card">
            <div class="top">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1738044380727-086b16113ab5?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="info">
                <h1>Name: Suvam Chakraborti</h1>
                <h2>id: djdsjfsdkfns</h2>
            </div>
        </div>
        <div class="requerment">
            <h1>Requerment:</h1>
            <p>AB+</p>
        </div>
        <div class="btn">
            <a href="">Accept</a>
            <a href="">Reject</a>
        </div>
        <div class="date">
            <h1>Date: 13/03/2025</h1>
        </div>
        </div>
        <div class="card">
            <div class="top">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1738044380727-086b16113ab5?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="info">
                <h1>Name: Suvam Chakraborti</h1>
                <h2>id: djdsjfsdkfns</h2>
            </div>
        </div>
        <div class="requerment">
            <h1>Requerment:</h1>
            <p>AB+</p>
        </div>
        <div class="btn">
            <a href="">Accept</a>
            <a href="">Reject</a>
        </div>
        <div class="date">
            <h1>Date: 13/03/2025</h1>
        </div>
        </div>
        <div class="card">
            <div class="top">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1738044380727-086b16113ab5?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="info">
                <h1>Name: Suvam Chakraborti</h1>
                <h2>id: djdsjfsdkfns</h2>
            </div>
        </div>
        <div class="requerment">
            <h1>Requerment:</h1>
            <p>AB+</p>
        </div>
        <div class="btn">
            <a href="">Accept</a>
            <a href="">Reject</a>
        </div>
        <div class="date">
            <h1>Date: 13/03/2025</h1>
        </div>
        </div>
        <div class="card">
            <div class="top">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1738044380727-086b16113ab5?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="info">
                <h1>Name: Suvam Chakraborti</h1>
                <h2>id: djdsjfsdkfns</h2>
            </div>
        </div>
        <div class="requerment">
            <h1>Requerment:</h1>
            <p>AB+</p>
        </div>
        <div class="btn">
            <a href="">Accept</a>
            <a href="">Reject</a>
        </div>
        <div class="date">
            <h1>Date: 13/03/2025</h1>
        </div>
        </div>
        <div class="card">
            <div class="top">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1738044380727-086b16113ab5?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="info">
                <h1>Name: Suvam Chakraborti</h1>
                <h2>id: djdsjfsdkfns</h2>
            </div>
        </div>
        <div class="requerment">
            <h1>Requerment:</h1>
            <p>AB+</p>
        </div>
        <div class="btn">
            <a href="">Accept</a>
            <a href="">Reject</a>
        </div>
        <div class="date">
            <h1>Date: 13/03/2025</h1>
        </div>
        </div>
        <div class="card">
            <div class="top">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1738044380727-086b16113ab5?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="info">
                <h1>Name: Suvam Chakraborti</h1>
                <h2>id: djdsjfsdkfns</h2>
            </div>
        </div>
        <div class="requerment">
            <h1>Requerment:</h1>
            <p>AB+</p>
        </div>
        <div class="btn">
            <a href="">Accept</a>
            <a href="">Reject</a>
        </div>
        <div class="date">
            <h1>Date: 13/03/2025</h1>
        </div>
        </div>
        <div class="card">
            <div class="top">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1738044380727-086b16113ab5?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="info">
                <h1>Name: Suvam Chakraborti</h1>
                <h2>id: djdsjfsdkfns</h2>
            </div>
        </div>
        <div class="requerment">
            <h1>Requerment:</h1>
            <p>AB+</p>
        </div>
        <div class="btn">
            <a href="">Accept</a>
            <a href="">Reject</a>
        </div>
        <div class="date">
            <h1>Date: 13/03/2025</h1>
        </div>
        </div>
        <div class="card">
            <div class="top">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1738044380727-086b16113ab5?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="info">
                <h1>Name: Suvam Chakraborti</h1>
                <h2>id: djdsjfsdkfns</h2>
            </div>
        </div>
        <div class="requerment">
            <h1>Requerment:</h1>
            <p>AB+</p>
        </div>
        <div class="btn">
            <a href="">Accept</a>
            <a href="">Reject</a>
        </div>
        <div class="date">
            <h1>Date: 13/03/2025</h1>
        </div>
        </div>
        <div class="card">
            <div class="top">
            <div class="img">
                <img src="https://images.unsplash.com/photo-1738044380727-086b16113ab5?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
            </div>
            <div class="info">
                <h1>Name: Suvam Chakraborti</h1>
                <h2>id: djdsjfsdkfns</h2>
            </div>
        </div>
        <div class="requerment">
            <h1>Requerment:</h1>
            <p>AB+</p>
        </div>
        <div class="btn">
            <a href="">Accept</a>
            <a href="">Reject</a>
        </div>
        <div class="date">
            <h1>Date: 13/03/2025</h1>
        </div>
        </div>
      </section>
    </main>
</body>
</html>