@font-face {
  font-family: "Satoshi";
  src: url("/Fonts/66aa728085dec3390cb7f058_Satoshi-Variable.ttf");
}
@font-face {
  font-family: "Helvetica";
  src: url("/Fonts/HelveticaNowDisplay-Black_20bf03d0.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #c9f9f5;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(101, 194, 230);
  border-radius: 10px;
}

main {
  width: 100%;
  min-height: 100vh;
  background-color: #c9f9f5;
}
main nav {
  width: 100%;
  padding: 5%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: end;
  z-index: 999;
  backdrop-filter: blur(50px);
}
main nav .menu {
  font-size: 2em;
}
main nav .menus {
  display: none;
}
main nav .sidemenus {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -100%;
  top: 0;
  background-color: rgb(101, 194, 230);
  height: 100vh;
  width: 100%;
  transition: all 0.5s ease;
}
main nav .sidemenus .close {
  font-size: 2em;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 4%;
}
main nav .sidemenus li {
  list-style: none;
  width: 90%;
  text-align: center;
}
main nav .sidemenus li a {
  font-family: "Satoshi";
  font-size: 2.5em;
  color: white;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 4% 0%;
  letter-spacing: 0.08em;
}
main nav .sidemenus li a:hover {
  background: skyblue;
}
main nav .sidemenus a {
  letter-spacing: 0.08em;
  font-family: "Satoshi";
  font-size: 2.5em;
  color: white;
  text-decoration: none;
  display: block;
  padding: 4% 0%;
  width: 90%;
  text-align: center;
}
main nav .sidemenus a:hover {
  background: skyblue;
}
main .allSection {
  display: flex;
  flex-direction: column;
  gap: 4em;
  padding: 25% 3% 3% 3%;
}
main .allSection section {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 1em;
}
main .allSection section .left {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
main .allSection section .left h1 {
  font-family: "Helvetica";
  font-size: 2em;
  letter-spacing: 0.08rem;
}
main .allSection section .left h3 {
  font-family: "Helvetica";
  font-size: 1.5em;
  letter-spacing: 0.08rem;
}
main .allSection section .left h5 {
  font-family: "Helvetica";
  font-size: 1.3em;
  letter-spacing: 0.08rem;
}
main .allSection section .left p {
  font-family: "Satoshi";
  font-size: 1.25em;
  letter-spacing: 0.03rem;
  font-weight: 500;
}
main .allSection section .left .link {
  display: flex;
  gap: 0.5em;
  margin-top: 1em;
}
main .allSection section .left .link a {
  text-decoration: none;
}
main .allSection section .left .link a i {
  font-size: 2em;
  margin-right: 0.5em;
  color: black;
  transition: all 0.3s ease;
}
main .allSection section .left .link a i:hover {
  color: rgb(2, 62, 193);
}
main .allSection section .right {
  display: flex;
  justify-content: center;
  gap: 1em;
}
main .allSection section .right .img {
  width: 70%;
  aspect-ratio: 1/1;
  border-radius: 10px;
  overflow: hidden;
}
main .allSection section .right .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 10%;
}

@media (min-width: 1022px) {
  main nav {
    width: 100%;
    padding: 1.5% 5% 1.5% 2%;
    display: flex;
    justify-content: end;
  }
  main nav .menu {
    display: none;
  }
  main nav .menus {
    display: flex;
    gap: 2em;
    justify-content: flex-end;
  }
  main nav .menus li {
    list-style-type: none;
    position: relative;
    cursor: pointer;
  }
  main nav .menus li a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-family: "Satoshi";
    font-weight: 500;
    letter-spacing: 0.1em;
    position: relative;
    z-index: 2;
  }
  main nav .menus li::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background-color: black;
    top: 100%;
    left: 0;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  main nav .menus li:hover::after {
    width: 100%;
  }
  main .allSection {
    padding: 7% 3% 3% 3%;
    gap: 3em;
  }
  main .allSection section {
    flex-direction: row;
    align-items: center;
  }
  main .allSection section .left {
    width: 55%;
  }
  main .allSection section .right {
    width: 45%;
  }
  main .allSection section .right .img img {
    transition: all 0.5s ease;
  }
  main .allSection section .right .img img:hover {
    transform: scale(1.05);
  }
}