@font-face {
  font-family: "Satoshi";
  src: url("/Fonts/66aa728085dec3390cb7f058_Satoshi-Variable.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Satoshi";
}
body #mapSection {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 99;
}
body .projectId {
  position: fixed;
  top: -20%;
}
body .btn {
  position: fixed;
  bottom: 2%;
  left: 2%;
  z-index: 999;
  text-decoration: none;
  font-family: "Satoshi";
  color: black;
  background: rgba(68, 0, 255, 0.317);
  padding: 2% 4%;
  border-radius: 10px;
  cursor: pointer;
  backdrop-filter: blur(20px);
}

@media (min-width: 1022px) {
  .btn {
    padding: 1% 4%;
  }
}