@font-face {
    font-family: "Satoshi";
    src: url("/Fonts/66aa728085dec3390cb7f058_Satoshi-Variable.ttf");
}
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body{
    font-family: "Satoshi";
    #mapSection{
        height: 100vh;
        width: 100vw;
    }
}