@font-face {
  font-family: "Satoshi";
  src: url("/Fonts/66aa728085dec3390cb7f058_Satoshi-Variable.ttf");
}
@font-face {
  font-family: "Helvetica";
  src: url("/Fonts/HelveticaNowDisplay-Black_20bf03d0.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 5px;
  background-color: #191919;
}

body::-webkit-scrollbar-thumb {
  background-color: #B94A4A;
  border-radius: 10px;
}

main {
  width: 100%;
  background: #191919;
  position: relative;
}
main .gola1 {
  position: fixed;
  width: 70vw;
  top: -5%;
  left: -5%;
  aspect-ratio: 1/1;
  background: radial-gradient(#B94A4A, #532121);
  filter: blur(100px);
}
main .gola2 {
  position: fixed;
  width: 70vw;
  top: 80%;
  left: 60%;
  aspect-ratio: 1/1;
  background: radial-gradient(#B96D4A, #532121);
  filter: blur(100px);
}
main nav {
  width: 100%;
  padding: 5%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: end;
  z-index: 999;
  backdrop-filter: blur(50px);
  color: white;
}
main nav .menu {
  font-size: 3em;
}
main nav .menus {
  display: none;
}
main .request-section {
  padding: 25% 2% 2% 2%;
  position: relative;
  width: 100%;
  gap: 1em;
  display: flex;
  flex-direction: column;
}
main .request-section .card {
  background-color: white;
  position: relative;
  z-index: 2;
  padding: 5%;
  border-radius: 10px;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  gap: 0.7em;
}
main .request-section .card:hover {
  transform: scale(1.02);
}
main .request-section .card .top {
  display: flex;
  gap: 1em;
  width: 100%;
}
main .request-section .card .top .img {
  width: 4em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
main .request-section .card .top .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .request-section .card .top .info {
  display: flex;
  flex-direction: column;
}
main .request-section .card .top .info h1 {
  font-family: "Helvetica";
  letter-spacing: 0.05em;
  font-size: 1.2em;
  white-space: nowrap;
}
main .request-section .card .top .info h2 {
  font-family: "Satoshi";
  font-size: 1em;
  letter-spacing: 0.1em;
  color: #7c7c7c;
}
main .request-section .card .requerment {
  display: flex;
  gap: 1em;
  width: 100%;
  align-items: center;
}
main .request-section .card .requerment h1 {
  font-family: "Helvetica";
  letter-spacing: 0.05em;
  font-size: 1.2em;
  white-space: nowrap;
}
main .request-section .card .requerment p {
  font-family: "Satoshi";
  font-size: 1.5em;
  letter-spacing: 0.1em;
  color: #B94A4A;
  font-weight: 900;
}
main .request-section .card .btn {
  width: 100%;
  display: flex;
  gap: 1em;
}
main .request-section .card .btn a:nth-child(1) {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Satoshi";
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  background-color: #4ab94e;
  color: white;
  padding: 1em 2em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
}
main .request-section .card .btn a:nth-child(1):hover {
  background-color: #368838;
}
main .request-section .card .btn a:nth-child(2) {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Satoshi";
  font-weight: 500;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  background-color: #B94A4A;
  color: white;
  padding: 1em 2em;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  text-align: center;
}
main .request-section .card .btn a:nth-child(2):hover {
  background-color: #942828;
}
main .request-section .card .date h1 {
  font-family: "Helvetica";
  letter-spacing: 0.05em;
  font-size: 1.2em;
  white-space: nowrap;
}

@media (min-width: 800px) {
  main {
    width: 100%;
    min-height: 100vh;
  }
  main nav {
    width: 100%;
    padding: 2% 5% 2% 2%;
    display: flex;
    justify-content: end;
  }
  main nav .menu {
    display: none;
  }
  main nav .menus {
    display: flex;
    gap: 2em;
    justify-content: flex-end;
  }
  main nav .menus li {
    list-style-type: none;
    position: relative;
    cursor: pointer;
  }
  main nav .menus li a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    font-family: "Satoshi";
    font-weight: 500;
    letter-spacing: 0.1em;
    position: relative;
    z-index: 2;
  }
  main nav .menus li::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background: white;
    top: 100%;
    left: 0;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  main nav .menus li:hover::after {
    width: 100%;
  }
  main .request-section {
    padding: 7% 2% 2% 5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  main .request-section .card {
    width: 50%;
    margin-bottom: 1em;
    margin-left: -2em;
    align-items: start;
  }
  main .request-section .card .btn a:nth-child(1):hover {
    background-color: #368639;
  }
  main .request-section .card .date h1 {
    text-align: left;
  }
}