@font-face {
  font-family: "Satoshi";
  src: url("/Fonts/66aa728085dec3390cb7f058_Satoshi-Variable.ttf");
}
@font-face {
  font-family: "Helvetica";
  src: url("/Fonts/HelveticaNowDisplay-Black_20bf03d0.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #FFFFFF;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(101, 194, 230);
  border-radius: 10px;
}

body {
  background: #c9f9f5;
}

main {
  width: 100%;
  position: relative;
}
main nav {
  width: 100%;
  padding: 5%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: end;
  z-index: 999;
  backdrop-filter: blur(50px);
}
main nav .menu {
  font-size: 3em;
  color: #000;
}
main nav .menus {
  display: none;
}
main nav .sidemenus {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -100%;
  top: 0;
  background-color: rgb(101, 194, 230);
  height: 100vh;
  width: 100%;
  transition: all 0.5s ease;
}
main nav .sidemenus .close {
  font-size: 3em;
  color: white;
  cursor: pointer;
  position: absolute;
  top: 2%;
  right: 4%;
}
main nav .sidemenus li {
  list-style: none;
  width: 90%;
  text-align: center;
}
main nav .sidemenus li a {
  font-family: "Satoshi";
  font-size: 2em;
  color: white;
  text-decoration: none;
  width: 100%;
  display: block;
  padding: 4% 0%;
  letter-spacing: 0.08em;
}
main nav .sidemenus li a:hover {
  background: skyblue;
}
main nav .sidemenus a {
  letter-spacing: 0.08em;
  font-family: "Satoshi";
  font-size: 2em;
  color: white;
  text-decoration: none;
  display: block;
  padding: 4% 0%;
  width: 90%;
  text-align: center;
}
main nav .sidemenus a:hover {
  background: skyblue;
}
main .request-section {
  padding: 25% 2% 2% 2%;
  position: relative;
  width: 100%;
  gap: 1em;
  display: flex;
  flex-direction: column;
}
main .request-section .card {
  background: rgb(155, 207, 227);
  position: relative;
  border: 2px solid skyblue;
  z-index: 2;
  padding: 5%;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  gap: 0.7em;
}
main .request-section .card:hover {
  transform: scale(1.02);
}
main .request-section .card .top {
  display: flex;
  gap: 1em;
  width: 100%;
}
main .request-section .card .top .img {
  width: 4em;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
}
main .request-section .card .top .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .request-section .card .top .info {
  display: flex;
  flex-direction: column;
}
main .request-section .card .top .info h1 {
  font-family: "Helvetica";
  letter-spacing: 0.05em;
  font-size: 1.2em;
  white-space: nowrap;
}
main .request-section .card .top .info h2 {
  font-family: "Satoshi";
  font-size: 0.9em;
  letter-spacing: 0.1em;
  color: #7c7c7c;
}
main .request-section .card .requerment {
  display: flex;
  gap: 1em;
  width: 100%;
  align-items: center;
}
main .request-section .card .requerment h1 {
  font-family: "Helvetica";
  letter-spacing: 0.05em;
  font-size: 1.2em;
  white-space: nowrap;
}
main .request-section .card .requerment p {
  font-family: "Satoshi";
  font-size: 1.5em;
  letter-spacing: 0.1em;
  color: #B94A4A;
  font-weight: 900;
}
main .request-section .card .date h1 {
  font-family: "Helvetica";
  letter-spacing: 0.05em;
  font-size: 1.2em;
  white-space: nowrap;
}
main .request-section .card .status {
  width: 100%;
  text-transform: uppercase;
  font-family: "Helvetica";
  color: #FFF;
  font-size: 1.2em;
  text-align: center;
  border-radius: 5px;
  padding: 4% 0%;
}

@media (min-width: 800px) {
  main {
    width: 100%;
    min-height: 100vh;
  }
  main nav {
    width: 100%;
    padding: 2% 5% 2% 2%;
    display: flex;
    justify-content: end;
  }
  main nav .menu {
    display: none;
  }
  main nav .menus {
    display: flex;
    gap: 2em;
    justify-content: flex-end;
  }
  main nav .menus li {
    list-style-type: none;
    position: relative;
    cursor: pointer;
  }
  main nav .menus li a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-family: "Satoshi";
    font-weight: 500;
    letter-spacing: 0.1em;
    position: relative;
    z-index: 2;
  }
  main nav .menus li::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    background: black;
    top: 100%;
    left: 0;
    border-radius: 10px;
    transition: all 0.3s ease;
  }
  main nav .menus li:hover::after {
    width: 100%;
  }
  main .request-section {
    padding: 7% 4.5% 2% 4.5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  main .request-section .card {
    padding: 2%;
    width: fit-content;
    margin-bottom: 1em;
    align-items: start;
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.5), 4px 4px 10px rgba(0, 0, 0, 0.5);
  }
  main .request-section .card .date h1 {
    text-align: left;
  }
}